@using PustokClassWork.Models;
@model Slider


<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Slider</h4>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Id
                            </th>
                            <th>
                                Image
                            </th>
                            <th>
                                Author Name
                            </th>
                            <th>
                                Book Name
                            </th>
                            <th>
                                Book Price
                            </th>
                            <th>
                                Button Description
                            </th>
                            <th>
                                Order
                            </th>
                            <th>
                                Description
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                       
                            <tr>

                                <td>
                                    @Model.Id
                                </td>
                                <td>
                                    <img src="~/image/bg-images/@Model.Image" />
                                </td>
                                <td>
                                    @Model.AuthorName
                                </td>
                                <td>
                                    @Model.BookName
                                </td>
                            <td>
                                @Model.BookPrice
                            </td>
                            <td>
                                @Model.ButtonDescription
                            </td>
                            <td>
                                @Model.Order
                            </td>
                            <td>
                                @Model.Description
                            </td>
                              
                            </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
